@charset "utf-8";
body{
    margin: 0;
}
#modau{
    width: 100%;
    height: 130px;
    background-image: url('https://sites.google.com/site/cohockythuatspkt/_/rsrc/1468462459256/config/customLogo.gif?revision=3');
    background-repeat: no-repeat;
    background-size: 100% 130px;
    margin-bottom: 30px;
}
#doan{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
#detai{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
}
#dieukhienall{
    width: 350px;
    height: 56px;
    background-color: white;
    position: absolute;
    left: 50px;
    top: 280px;
    border: 1px solid  white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ccc;
}

#thietbitang1{
  width: 350px;
  height: 200px;
  background-color:white;
  position: absolute;
  left: 50px;
  top: 350px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
}
#diennuoc{
    width: 350px;
    height: 200px;
    background-color:white;
    position: absolute;
    left: 460px;
    top: 280px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ccc;
}
#anh{
    width: 35px;
    height: 35px;
    background-image: url('https://image.flaticon.com/icons/png/512/25/25706.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    margin: 12px 0px 0px 30px;
}
#chuall{
    font-size: 20px;
    position: absolute;
    left :85px;
    top: 0px;
}
#khung{
  width: 52px ;
  height: 26px;
  position: absolute;
  left : 270px;
  top: 15px;
}
#switch{
 position: relative;
 display: inline-block;
 width: 52px;
 height: 26px;
}
#switchall{
 display: none;
}
#tron{
 position: absolute;
 height: 26px;
 width: 26px;
 left: 0px;
 bottom: 0px;
 background-color: #2196F3;
 -webkit-transition: 0.4s;
 transition: 0.4s;
}
#nen{
 position: absolute;
 cursor: pointer;
 top: 5px;
 left: 3px;
 right: 3px;
 bottom: 5px;
 background-color: #ccc;
}

 

#switchall:checked + #tron {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}
#tron,#nen{
 border-radius: 34px;
}
#tang1{
  margin: 12px 0px 0px 30px;
  font-size: 20px;
}
#anhdentang1{
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  margin: 10px 0px 0px 30px;
 
}
#den1{
  font-size: 20px;
    position: absolute;
    left :85px;
    top: 30px;
  
}
#khung1{
  width: 52px ;
  height: 26px;
  position: absolute;
  left : 270px;
  top: 53px;
 
}
#switch1{
 position: relative;
 display: inline-block;
 width: 40px;
 height: 15px;
}
#switchdentang1{
 display: none;
}
#tron1{
 position: absolute;
 height: 15px;
 width:15px;
 left: 0px;
 bottom: 0px;
 background-color: #2196F3;
 -webkit-transition: 0.4s;
 transition: 0.4s;
}
#nendentang1{
 position: absolute;
 cursor: pointer;
 top: 5px;
 left: 3px;
 right: 3px;
 bottom: 5px;
 background-color: #ccc;
}

 

#switchdentang1:checked + #tron1 {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}
#tron1,#nendentang1{
 border-radius: 34px;
}
#ketnoibroker{
position: absolute;
left :50px;
top:230px;
}
#messages{
  display: inline-block;
}




.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 4px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: absolute;
  left: 205px;
  top:90px;
}




.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2196F3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2196F3;
  cursor: pointer;
}
#hienthidosang{
  position: absolute;
  left: 185px;
  top:85px;
}


